/* chatbot icon style */
#chatbot_icon {
    position: fixed;
    bottom: 14%;
    right: 2%;
    cursor: pointer;
    z-index: 1000;
}
#chatbot_icon img {
    width: 56px;
    height: 56px;
}

.chatbot_container {
    display: none;
    position: fixed;
    bottom: 10%;
    right: 2%;
    width: 25vw;
    height: 38vw;
    background-color: white;
    box-shadow: 3px 5px 10px rgba(26, 34, 61, 0.3);
    border-radius: 15px;
    z-index: 500;
    display: grid;
    grid-template-rows: 10% 80% 10%;
}

/* chatbot header style */
.chatbot_header {
    width: inherit;
    background-color: #474747;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-radius: 15px 15px 0px 0px;
    flex-shrink: 0;
}

#chatbot_logo {
    margin-left: 2%;
    margin-right: 5%;
    width: 50px;
    height: 50px;
}

.chatbot_header span {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#chatbot_close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    cursor: pointer;
    width: 30px;
    height: 30px;
}



.chatbot_body {
    overflow-y: auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
	display: inline-block;
}

/* Styles for message */
.chatbot_message {
    clear: both;
    background-color: #f1f1f1;
    color: #474747;
    padding: 3%;
    margin: 10px auto 10px 10px;
    width: 66.66%;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    line-height: 1.4;
	display: inline-block;
    white-space: normal;
    word-wrap: break-word; /* Ensure long words or characters wrap */
    overflow-wrap: break-word; /* Force wrap for long words without spaces */
}
.user_message {
    float: right;
    background-color: #474747;
    color: #f1f1f1;
    padding: 4%;
    margin: 10px 10px 10px auto;
    width: 66.66%;
    border-radius: 0px 15px 0px 15px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    line-height: 1.4;
    white-space: normal;
    word-wrap: break-word; /* Ensure long words or characters wrap */
    overflow-wrap: break-word; /* Force wrap for long words without spaces */
}

.message {
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word; 
    display: block; /* Ensure the span behaves as an inline-block */
}

/* hot topic style */
#hot_topic {
    clear: both;
    background-color: #f1f1f1;
    color: #474747;
    padding: 3%;
    margin: 10px auto 10px 10px;
    width: 66.66%;
    border-radius: 15px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    line-height: 1.4;
}

.question {
    padding: 3%;
    margin: 2%;
}

/* span output results for article title type style */
.bodytitle {
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
}

.bodytitle:hover {
    color: #c46f00;
}

.bodytitle a {
    font-weight: bold;
    font-size: 16px;
    color: #474747;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.bodytitle a:hover {
    color: #c46f00;
}

/* Recommended articles style */
.rec_articles {
    clear: both;
    background-color: #f1f1f1;
    color: #474747;
    padding: 3%;
    margin: 10px auto 10px 10px;
    width: 66.66%;
    border-radius: 15px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    line-height: 1.4;
}

.articles {
    padding: 3%;
    margin: 2%;
}

/* Recommended tips style */
#recommend_Tips {
    clear: both;
    background-color: #f1f1f1;
    color: #474747;
    padding: 3%;
    margin: 10px auto 10px 10px;
    width: 66.66%;
    border-radius: 15px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    line-height: 1.4;
}

.tips {
    padding: 3%;
    margin: 2%;
}

.tips span{
    color: #474747;
    font-size: 14px;
    font-weight: bold;
}

.tips span:hover{
    color: #474747;
    font-size: 14px;
    font-weight:bold;
}

/* Title style for all result message */
.divtitle{
width:inherit;
padding: 5px;
margin-bottom: 3px;
}

.titlespan{
   font-size: 14px;
   font-weight: bold;
   color: #838383;
}


/* Search function container styles */
.blog_search_container{
    display: none;
    background-color: white;
    z-index: 500;
    overflow-y: auto;
    padding: 2%;
    flex-direction: column;
}

.search_articles_result{
    clear: both;
    background-color: #f1f1f1;
    color: #474747;
    margin: 10px auto 10px 10px;
    width: 66.66%;
    border-radius: 15px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

/* Search function navigation bar style */
#search_nav {
    align-items: center;  
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
}

#search_nav p{
   width:90%;
   color: #474747;
   font-weight: bold;
   font-size: 18px;
   margin-bottom: 0%;
   align-items: center;
}

.search_message {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

#return {
    margin-right: 10px;
    cursor: pointer;  
    width: 30px;
    height: 30px;
}

/* Input field style */
.chatbot_footer {
    display: flex;
    align-items: center;
    padding: 2%;
    font-family: sans-serif;
}
#chatbot_input {
    padding: 3%;
    height: 80%;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    background-color: #f1f1f1;
    outline: none;
    text-align: left;
    width: 90%;
    margin-right: 2%;
}
#chatbot_send {
    background: url(recourses/send.svg) no-repeat center center;
    background-size: contain;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    padding: 0;
    display: inline-block;
}


@media (max-width: 1200px) {
    /* chatbot icon style */
    #chatbot_icon img {
        width: 50px;
        height: 50px;
    }
    
    .chatbot_container {
        display: none;
        position: fixed;
        bottom: 10%;
        right: 2%;
        width: 350px; 
        height: 500px;
        background-color: white;
        box-shadow: 3px 5px 10px rgba(26, 34, 61, 0.3);
        border-radius: 15px;
        z-index: 500;
        display: grid;
        grid-template-rows: 10% 80% 10%;
    }
    
    #chatbot_logo {
        margin-left: 2%;
        margin-right: 5%;
        width: 40px;
        height: 40px;
    }
    
    #chatbot_close {
        width: 30px;
        height: 30px;
    }
    
    /* span output results for article title type style */
    .bodytitle {
        font-size: 16px;
    }
	
    .bodytitle a {
        font-size: 16px;
    }
    
    /* Recommended tips style */
    .tips span{
        font-size: 14px;
    }
    
    .tips span:hover{
        font-size: 14px;
    }
    
    /* Title style for all result message */
    
    .titlespan{
       font-size: 14px;
    }
    
    
    /* Search function container styles */
    
    .search_articles_result{
        font-size: 14px;
    }
    
    /* Search function navigation bar style */
    #search_nav {
        margin-left: 10px;
        margin-bottom: 10px;
    }
    
    #search_nav p{
       font-size: 18px;
    }
	
    #return {
        width: 30px;
        height: 30px;
    }
    
    /* Input field style */
    #chatbot_input {
        border-radius: 15px;
        font-size: 16px;
    }
    #chatbot_send {
        width: 24px;
        height: 24px;
    }
}



@media (max-width: 768px) {
    /* chatbot icon style */
    #chatbot_icon img {
        width: 40px;
        height: 40px;
    }
	
	#chatbot_icon {
	    bottom: 14%;
	    right: 3%;
	    cursor: pointer;
	    z-index: 1000;
	}
    
    .chatbot_container {
        display: none;
        position: fixed;
        bottom: 2%;
        right: 2%;
        width: 80%; 
        height: 80%;
    }
    
    #chatbot_logo {
        margin-left: 2%;
        margin-right: 5%;
        width: 40px;
        height: 40px;
    }
    
    #chatbot_close {
        width: 30px;
        height: 30px;
    }
    
    /* span output results for article title type style */
    .bodytitle {
        font-size: 16px;
    }
    
    .bodytitle a {
        font-size: 16px;
    }
    
    /* Recommended tips style */
    .tips span{
        font-size: 14px;
    }
    
    .tips span:hover{
        font-size: 14px;
    }
    
    /* Title style for all result message */
    
    .titlespan{
       font-size: 14px;
    }
    
    
    /* Search function container styles */
    
    .search_articles_result{
        font-size: 14px;
    }
    
    /* Search function navigation bar style */
    #search_nav {
        margin-left: 10px;
        margin-bottom: 10px;
    }
    
    #search_nav p{
       font-size: 18px;
    }
    
    #return {
        width: 30px;
        height: 30px;
    }
    
    /* Input field style */
    #chatbot_input {
        border-radius: 15px;
        font-size: 16px;
    }
    #chatbot_send {
        width: 24px;
        height: 24px;
    }
}